
# bemasolni ~/.config/systemd/user ala

[Unit]
Description=amoeba
After=network.target

[Service]
Type=simple


# az s script service-kent is es 
# parancssorbol is elinditja webapp-ot
# aktualizalni kell az s-hez vezeto path-t


ExecStart=%h/amo/amoeba-web/s
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

